:root {
	--space-cadet: #1a1b41;
	--max-blue-green: #17bebb;
	--eggshell: #f8f2dc;
	--carmine-mp: #d62246;
	--jet: #2f2d2e;
	--plain-white: #ffffff;
}
body {
	background-color: var(--eggshell);
}
main {
	min-height: 75vh;
}
.cadet-color {
	color: var(--space-cadet);
}
.blue-color {
	color: var(--max-blue-green);
}
.eggshell-color {
	color: var(--eggshell);
}
.carmine-color {
	color: var(--carmine-mp);
}
.jet-color {
	color: var(--jet);
}
.white-color {
	color: var(--plain-white);
}
.algo-button {
	background-color: var(--space-cadet);
	color: var(--plain-white);
}
